.bnav{
    background-color: rgb(78, 38, 4);
}
.jumbotron{
    margin-top: 30px;
    background-color: rgb(179, 161, 145);
}
.banner{
    width:100%;
}
footer{
    background-color: darkgrey;
    padding: 10px;
}
iframe {
    max-width: 100%;
    height: auto;
   }
.redsocial{
    text-decoration: none;
}
.card{
    padding: 10px;
    margin-bottom: 10px;
}
.card-img-bottom{
    max-width: 300px;
    height: auto;
    align-self: center;
    border-radius: 5px;
    margin-bottom: 10px;
}
h2{
    margin: 20px 0 20px 0;
    text-align: center;
}
.boton-envio{
    color:white;
    background-color: rgb(78, 38, 4);
}
.boton-alergenos{
    color: white;
    background-color: rgba(180, 118, 38);
    opacity:0.8;
}
.boton-alergenos:hover{
    background-color: darkgoldenrod;
    color: white;
}

.caja-acordeon{
    padding: 0;
    margin-bottom: 0;
}
.novedades{
    background-color: sandybrown;
    padding: 10px 0px 10px 0px;
}
.img-carousel{
    max-height: 300px;
    width: auto;
}
.ayuda{
    background-color:yellow;
    color: black;
    padding: 6px 9px 6px 9px;
    border: 1px solid black;
    border-radius: 100%;
}