.bnav {
  background-color: #4e2604;
}

.jumbotron {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #b47626;
}

.banner {
  width: 100%;
}

footer {
  background-color: darkgrey;
  padding: 10px;
}

iframe {
  max-width: 100%;
  height: auto;
}

.redsocial {
  text-decoration: none;
}

.card {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-img-bottom {
  max-width: 300px;
  height: auto;
  align-self: center;
  border-radius: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.boton-envio {
  color: white;
  background-color: #4e2604;
}

.boton-alergenos {
  color: white;
  background-color: #b47626;
  opacity: 0.8;
}

.boton-alergenos:hover {
  background-color: #b8860b;
  color: white;
}

.caja-acordeon {
  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

.novedades {
  background-color: #b8860b;
  padding: 10px 0px 10px 0px;
}

.img-carousel {
  max-height: 300px;
  width: auto;
}

.ayuda {
  background-color: #ffff00;
  color: black;
  padding: 6px 9px 6px 9px;
  border: 1px solid black;
  border-radius: 100%;
}

/*# sourceMappingURL=styles.css.map */
