@darkBrown:#4e2604;
@brown:#b47626;
@gold:#b8860b;
@yellow:#ffff00;

.margenes(@top: 0px,@bottom: 0px){
    margin-top: @top;
    margin-bottom:@bottom;
}

.bnav{
    background-color: @darkBrown;
}
.jumbotron{
    .margenes(30px,30px);
    background-color: @brown;
}
.banner{
    width:100%;
}
footer{
    background-color: darkgrey;
    padding: 10px;
}
iframe {
    max-width: 100%;
    height: auto;
   }
.redsocial{
    text-decoration: none;
}
.card{
    padding: 10px;
    .margenes(10px,10px);
}
.card-img-bottom{
    max-width: 300px;
    height: auto;
    align-self: center;
    border-radius: 5px;
    .margenes(0px,10px);
}
h2{
    .margenes(20px,20px);
    text-align: center;
}
.boton-envio{
    color:white;
    background-color: @darkBrown;
}
.boton-alergenos{
    color: white;
    background-color: @brown;
    opacity:0.8;
}
.boton-alergenos:hover{
    background-color: @gold;
    color: white;
}

.caja-acordeon{
    padding: 0;
    .margenes(0px,0px);
}
.novedades{
    background-color: @gold;
    padding: 10px 0px 10px 0px;
}
.img-carousel{
    max-height: 300px;
    width: auto;
}
.ayuda{
    background-color:@yellow;
    color: black;
    padding: 6px 9px 6px 9px;
    border: 1px solid black;
    border-radius: 100%;
}